/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #d6d6d6;
    --sidebar-color: #ffff;
    --primary-color: #ff9710;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #000000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}



/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
    padding: 20px 0;
}
.sidebar.close{
    width: 45px;
    padding: 10px 0 !important;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 43px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: black;
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
    padding: 0 -10px;
}

.sidebar header .image-text{
    display: grid;
    justify-content: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 600;
    color: red;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 30px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 130%;
    right: -13px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}



.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}
.menu ul{
    padding-left: 0;
}


.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,  
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar li a:hover .icon,  
.sidebar li a:hover .text{
    color: white !important;
}

.sidebar .hola a:hover{
    background-color: red;
}

.sidebar .hola a:hover .icon,  
.sidebar .hola a:hover .text{
    color: white;
}


.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}






.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}



.home{
    position: absolute;
    top: 0;
    left: 170px;
    padding-right: 30px;
    width: calc(100% - 170px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    color: var(--text-color);
    padding: 12px 20px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.title-header{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
}
hr{
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    opacity: 25;
}

/*--------------------------------------------------TICKETS--------------------------------------------------*/
.tickets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 385px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}
.tickets::-webkit-scrollbar{
    width: 8px;
}
.tickets::-webkit-scrollbar-thumb{
    background: #ff9710;
    display: none;
    border-radius: 5px;
}
.tickets:hover::-webkit-scrollbar-thumb{
    display: block;
}

.ticket{
    width: 250px;
}

/*--------------------------------------------------<|"RESPONSIVE"|>--------------------------------------------------*/
@media (max-width:370px) {
    .title-header{
        text-align: center;
    }
    .tickets{
        display: flex;
        gap: 1rem;
        padding: 2%;
        height: 372px;
    }
    .tickets::-webkit-scrollbar{
        display: none;
    }
}